<footer class="text-muted" >

    <!--<p class="float-right">-->
      <!--<a href="#">Back to top</a>-->
    <!--<img src=<2%= asset_path '흡연구역사진.jpg' %> width=50px height=50px> -->
           <p> &nbsp;&nbsp;서비스명 : 흡연구역알리미 <br> &nbsp;&nbsp;제 작 사 : (주)스무브 ( Smoking Movement ) <br> &nbsp;&nbsp;Member : 이동규 | 이동호 </p>
    
    <!--</p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>-->

</footer>